#
# Gitのローカルリポジトリの設定をまとめたファイルです。 -local設定
#

[alias]
    merged-branch = !sh -c 'git branch -vv | grep \"origin/ .*: gone]\" | awk \"{print \\$1}\"'
    delete-merged-branch = !sh -c 'git merged-branch | xargs git branch -d'