@charset "utf-8";

body {
    font-size: 62.5%;
    word-wrap: break-word;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}
img {
    width: 100%;
}
p {
    font-size: 16re,;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/**************************************************
header
**************************************************/
#title-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.cv-top {
    display: flex;
}
.tel-contact {
    /* margin-left: auto; */
    text-align: center;
}
.contact-btn {
    border: 0;
    background-color: #172E3D;
    color: #ffffff;
}
.g_nav {
    /* position: fixed; */
    /* display: flex;
    justify-content: space-between; */
}
/**************************************************
footer
**************************************************/
.copyright {
    background-color: #808080;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
}
.official-link {
    color: #ffffff;
}