@charset "utf-8";

body {
    font-size: 62.5%;
    word-wrap: break-word;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}
img {
    width: 100%;
}
p {
    font-size: 16re,;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/**************************************************
header
**************************************************/
.site-header {
    background-color: #808080;
}
#title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.site-title {
    color: #ffffff;
}
.site-title-link {
    color: #ffffff;/*aタグのリンク色*/
}
.cv-top {
    display: flex;
}
.tel-contact {
    /* margin-left: auto; */
    text-align: center;
}
.contact-btn {
    border: 0;
    background-color: #172E3D;
    border-radius: 8px;
    color: #ffffff;
}
.g_nav {
    display: flex;
    /* justify-content: space-around; */
    /* background-color: #808080; */
}
.g_nav_list {
    font-size: 1rem;
    padding: 16px 0;
    text-align: center;
    /* width: 100%; */
    margin: 0 16px;
}
.g_nav_list:hover {
    background-color: #ffffff;
}
.g_nav_list_link {
    color: #ffffff;
}
.g_nav_list_link:hover {
    color: #808080;
}
/**************************************************
footer
**************************************************/
.copyright {
    background-color: #808080;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
}
.official-link {
    color: #ffffff;
}